.popup-form__name {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  font-style: normal;
  color:#000000;
  /* border-top: 1px solid #000000; */
/* opacity: 1; */
width: 100%;
/* max-width: 358px; */
max-width: 27.9688vw;
/* max-width: 68.75vw; */
margin-top: 54px;
margin-left: 36px;
margin-right: 36px;
margin-bottom: 13.26px;
/* margin-left: 200px; */
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  outline: none;
}

@media screen and (max-width: 1120px) {
  .popup-form__name {
    /* max-width: 300px; */
    max-width: 26.7858vw;
  }
}

@media screen and (max-width: 775px) {
  .popup-form__name {
    /* max-width: 200px; */
    max-width: 25.806vw;
  }
}

@media screen and (max-width: 500px) {
  .popup-form__name {
    /* max-width: 200px; */
    /* max-width: 25.806vw; */
    max-width: 50vw;
  }
}


@media screen and (max-width: 320px) {
  .popup-form__name {
    /* max-width: 238px; */
    max-width: 75.565vw;
  }
}
