.popup-form__name {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-style: normal;
  color:#000000;
  width: 100%;
   max-width: 373px;
  margin-top: 54px;
  margin-bottom: 13.26px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  outline: none;
}

@media screen and (max-width: 500px) {
  .popup-form__name {
  }
}

@media screen and (max-width: 320px) {
  .popup-form__name {
    max-width: 238px;
     margin-top: 76px;
    margin-bottom: 9px;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
  }
}
