.page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: content-box;
  background-color: #000000;
}

@media screen and (max-width: 781px){
  .page {
    max-width: 781px;
  }
}

@media screen and (max-width: 320px){
  .page {
    max-width: 320px;
  }
}
