.popup__form_aboutme {
    width: 100%;
    max-width: 358px;
    margin-bottom: 0.08px;
  }

  @media screen and (max-width: 500px) {
    .popup__form_aboutme {
      max-width: 238px;
      margin-left: 22px;
      margin-right: 22px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .popup__form_aboutme {
      margin-top: 30px;
      margin-bottom: 0px;
    }
  }