.popup-form__line {
  /* font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  font-style: normal; */
  border-top: 1px solid #000000;
opacity: .2;
width: 100%;
/* max-width: 358px; */
max-width: 28.0135vw;;
margin-left: 36px;
/* max-width: 68.75vw; */
/* margin-top: 54px;
margin-left: 36px;
margin-right: 36px;
margin-bottom: 25px; */
/* margin-left: 200px; */
  border-bottom: hidden;
  border-left: hidden;
  border-right: hidden;
  outline: none;
}

@media screen and (max-width: 1120px) {
  .popup-form__line{
  /* max-width: 300px; */
  max-width: 26.7858vw;
  }
}

@media screen and (max-width: 775px) {
  .popup-form__line{
  /* max-width: 300px; */
  max-width: 38.709vw;
  }
}

@media screen and (max-width: 625px) {
  .popup-form__line{
  /* max-width: 300px; */
  max-width: 48vw;
  }
}

@media screen and (max-width: 500px) {
  .popup-form__line{
    /* max-width: 300px; */
    max-width: 60vw;
  }
}

@media screen and (max-width: 320px) {
  .popup-form__line{
  max-width: 238px;
  max-width: 75.565vw;
  margin-left: 22px;
  }
}