.popup-form__line {
  border-top: 1px solid #000000;
  opacity: .2;
  width: 100%;
  max-width: 358px;
  /* max-width: 28.0135vw;; */
  margin-left: 36px;
  border-bottom: hidden;
  border-left: hidden;
  border-right: hidden;
  outline: none;
}

@media screen and (max-width: 1120px) {
  .popup-form__line{
  /* max-width: 300px; */
  max-width: 26.7858vw;
  }
}

@media screen and (max-width: 775px) {
  .popup-form__line{
  /* max-width: 300px; */
  max-width: 38.709vw;
  }
}

@media screen and (max-width: 625px) {
  .popup-form__line{
  /* max-width: 300px; */
  max-width: 48vw;
  }
}

@media screen and (max-width: 500px) {
  .popup-form__line{
    /* max-width: 300px; */
    max-width: 60vw;
  }
}

@media screen and (max-width: 320px) {
  .popup-form__line{
  max-width: 238px;
  max-width: 75.565vw;
  margin-left: 22px;
  }
}