.intro__occupation {
  font-size: 18px;
  font-style: normal;
  line-height: 21.78px;
  font-weight: 400;
  color: #FFFFFF;
  width: 100%;
  max-width: 415px;
  text-align: left;
  margin-top: 0px;
  margin-left: 3.75px;
}

