.intro__occupation {
  font-size: 18px;
  font-style: normal;
  line-height: 21.78px;
  font-weight: 400;
  color: #FFFFFF;
  width: 100%;
  max-width: 415px;
  text-align: left;
  margin-top: 0px;
  margin-left: 3.75px;
}

@media screen and (max-width: 1120px) {
.intro__occupation {
  /* max-width: 415px; */
  text-align: center;
}
 }

 @media screen and (max-width:775px) {
  .intro__occupation {
    font-size: 22px;
    line-height: 26.63px;
    /* margin-left: 65px; */
    margin-left: 8.3870vw;
  }
}
@media screen and (max-width:320px) {
  .intro__occupation {
    font-size: 14px;
    line-height: 16.94px;
    /* margin-left: 48px; */
    margin-left: 8vw;
  }
}
