.card-grid__picture {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-grid__picture:hover {
  opacity: 0.5;
  cursor: url("../../../images/pointer.svg") 10 0, auto;
}
