.card-grid {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 980px) {
  .card-grid {
    max-width: 580px;
  }
}

@media screen and (max-width: 650px) {
  .card-grid {
    max-width: 282px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 320px) {
  .card-grid {
    max-width: 282px;
    margin-top: 36px;
  }
}

.card-grid__format {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 21px;
}

@media screen and (max-width: 980px) {
  .card-grid__format {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .card-grid__format {
    grid-template-columns: 1fr;
    max-width: 282px;
    margin-left: auto;
    margin-right: auto;
  }
}
.card-grid__garbage {
  position: absolute;
  margin: 0;
  margin-left: 245px;
  margin-top: 25px;
  width: 15.44px;
  height: 13.51px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.card-grid__garbage:hover {
  opacity: 0.6;
  cursor: url("../../../images/pointer.svg") 10 0, auto;
}

.card-grid__icon {
  width: 21px;
  height: 19px;
  margin-right: 15px;
  background-color: #ffffff;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../../../images/heart.svg");
}

.card-grid__icon:hover {
  opacity: 0.5;
  cursor: url("../../../images/pointer.svg") 10 0, auto;
}

.card-grid__icon_active {
  background-image: url("../../../../images/Union.svg");
}

.card-grid__info {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-grid__picture {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-grid__picture:hover {
  opacity: 0.5;
  cursor: url("../../../images/pointer.svg") 10 0, auto;
}

.card-grid__style {
  list-style: none;
  width: 282px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .card-grid__style {
    margin-left: auto;
    margin-right: auto;
  }
}

.card-grid__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  color: #000000;
  margin-left: 21px;
  margin-top: 25px;
  margin-bottom: 31px;
  width: 246px;
}
