.image-popup {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  z-index: 10;
}

@media screen and (max-width: 750px) {
  .image-popup {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 650px) {
  .image-popup {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .image-popup {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .image-popup {
    width: 200px;
    height: 200px;
  }
}

.image-popup__picture-text {
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #ffffff;
  position: absolute;
  top: 600px;
  right: 510px;
  margin: 0;
  padding-top: 10px;
}

.image-popup__picture-zoom {
  width: 600px;
  height: 600px;
}

@media screen and (max-width: 750px) {
  .image-popup__picture-zoom {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 650px) {
  .image-popup__picture-zoom {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .image-popup__picture-zoom {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .image-popup__picture-zoom {
    width: 200px;
    height: 200px;
  }
}
