.intro {
  max-width: 880px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 17px;
  margin: 36px auto 0;
  grid-template-areas: "pic descript pen plus";
}

@media screen and (max-width: 980px) {
  .intro {
    max-width: 581px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "pic ."
      "descript pen"
      "plus plus";
  }
}

@media screen and (max-width: 650px) {
  .intro {
    margin: 38.25px auto;
    max-width: 282px;
    column-gap: 0px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin: 38.25px auto;
    max-width: 282px;
    column-gap: 0px;
  }
}

.intro__button-pencil {
  background-image: url("../../../images/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 6px;
  margin-left: 1px;
  margin-top: 42px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  grid-area: pen;
}

.intro__button-pencil:hover {
  opacity: 0.6;
  cursor: url("../../../images/pointer.svg") 15 5, auto;
}

@media screen and (max-width: 980px) {
  .intro__button-pencil {
    margin-left: 1px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 650px) {
  .intro__button-pencil {
    margin-left: 10px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .intro__button-pencil {
    margin-top: 30px;
    width: 18px;
    height: 18px;
    padding: 4.25px;
    margin-left: 10px;
  }
}

.intro__button-plus {
  background-image: url("../../../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  padding: 14px 64px 14px 64px;
  margin-left: 50px;
  margin-right: 0;
  margin-top: 38px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  grid-area: plus;
}

.intro__button-plus:hover {
  opacity: 0.6;
  cursor: url("../../../images/pointer.svg") 15 0, auto;
}

@media screen and (max-width: 980px) {
  .intro__button-plus {
    font-size: 22px;
    line-height: 26.63px;
    padding: 14px 133px 17px 133px;
    margin-left: 154px;
    margin-top: 0;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 650px) {
  .intro__button-plus {
    margin-left: 5px;
  }
}

@media screen and (max-width: 320px) {
  .intro__button-plus {
    width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    padding: 17px 133px 17px 133px;
    margin: 0;
    margin-top: 0;
  }
}

.intro__description {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  grid-area: descript;
}

.intro__image {
  border-radius: 50%;
  width: 127.5px;
  margin-right: 20.625px;
  grid-area: pic;
}

@media screen and (max-width: 980px) {
  .intro__image {
    margin-left: 225px;
    margin-top: 38.25px;
  }
}

@media screen and (max-width: 650px) {
  .intro__image {
    margin-left: 75px;
  }
}

@media screen and (max-width: 320px) {
  .intro__image {
    margin-left: 77.5px;
    margin-top: 0;
  }
}

.intro__name {
  font-size: 42px;
  line-height: 48px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  width: 373px;
  width: min-content;
  white-space: nowrap;
  text-align: left;
  margin-top: 25.75px;
  margin-bottom: 7px;
  margin-left: 3.75px;
  grid-area: name;
  max-width: 373px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .intro__name {
    line-height: 36px;
    margin-left: 110px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 650px) {
  .intro__name {
    margin-left: 30px;
    font-size: 22px;
    max-width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .intro__name {
    padding: 0;
    margin-left: 15vw;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 27px;
    max-width: 200px;
  }
}

.intro__occupation {
  font-size: 18px;
  font-style: normal;
  line-height: 21.78px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  text-align: left;
  margin-top: 0px;
  margin-left: 3.75px;
  margin-bottom: 71px;
  grid-area: occup;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .intro__occupation {
    font-size: 14px;
    line-height: 16.94px;
    max-width: 200px;
    margin-left: 190px;
    margin-bottom: 36px;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .intro__occupation {
    margin-left: 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .intro__occupation {
    font-size: 14px;
    line-height: 16.94px;
    margin-left: 40px;
    margin-bottom: 36px;
  }
}
