.popup {
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  max-width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.15);
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .popup {
    max-width: 282px;
  }
}

@media screen and (max-width: 500px) {
  .popup {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .popup {
    height: 322px;
    padding: 0;
    margin-left: 19px;
    margin-right: 19px;
  }
}

.popup__button {
  outline: none;
  border: none;
  background-color: #000000;
  min-height: 50.15px;
  width: 100%;
  max-width: 358px;
  border-radius: 2px;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 36.51px;
  padding: 0;
}

.popup__button_disabled {
  background-color: purple;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: url("../../../images/pointer.svg") 10 0, auto;
}

@media screen and (max-width: 500px) {
  .popup__button {
    max-width: 238px;
  }
}

@media screen and (max-width: 320px) {
  .popup__button {
    min-height: 46px;
    font-size: 14px;
    line-height: 16.948px;
    margin-top: 46px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }
}

.popup__button-close {
  position: absolute;
  margin: 0;
  margin-left: 430px;
  margin-top: -40px;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup__button-close:hover {
  opacity: 0.6;
  cursor: url("../../../images/pointer.svg") 10 0, auto;
}

@media screen and (max-width: 650px) {
  .popup__button-close {
    margin-left: 255px;
    margin-top: -42px;
    width: 18.38px;
    height: 18.38px;
    overflow: hidden;
  }
}

@media screen and (max-width: 500px) {
  .popup__button-close {
    margin-left: 255px;
    margin-top: -42px;
    width: 18.38px;
    height: 18.38px;
    overflow: hidden;
  }
}

.popup__form {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  width: 358px;
  margin-left: 36px;
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .popup__form {
    width: 238px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 22px;
    margin-right: 22px;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .popup__form {
    width: 238px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 22px;
    margin-right: 22px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .popup__form {
    width: 238px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 22px;
    margin-right: 22px;
    padding: 0;
  }
}

.popup__input {
  /* width: 100%; */
  width: 350px;
  max-width: 358px;
  margin-top: 29.74px;
  padding-bottom: 10px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* border-bottom: red 2px solid; */
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  min-height: 15px;
}

.popup__input:hover {
  border: 2px solid rgb(156, 156, 250);
}

@media screen and (max-width: 500px) {
  .popup__input {
    max-width: 238px;
  }
}

@media screen and (max-width: 320px) {
  .popup__input {
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    padding-bottom: 9px;
  }
}

.popup__input_type_error {
  /* border: 1px solid #ff0000; */
  /* border-bottom-color: red; */
  min-height: 10px;
  color: #ff0000;
  margin-top: 15px;
}

.popup__input_type_error:hover {
  border: 1px solid #ff0000;
  border-bottom-color: #ff0000;
  min-height: 10px;
  /* color: #ff0000; */
}

.popup__input_type-name {
  font-size: 12px;
  line-height: 15px;
  /* border-bottom-color: red; */
  border-bottom-color: grey;
  width: 350px;
  /* outline: 1px solid blue; */
  /* border: 1px solid blue; */
}

/* .popup__input_type-name:hover {
  border: 2px solid rgb(156, 156, 250);
} */

.popup__input_type-description {
  font-size: 12px;
  line-height: 15px;
  border-bottom-color: grey;
  width: 350px;
}

/* .popup__input_type-description:hover {
  border: 2px solid rgb(156, 156, 250);
} */

/* .popup__input-error_active {
  font-size: 12px;
  line-height: 15px;
  color: purple;
  border: 1px red dotted;
} */

/* .popup__input_has-error {
  font-size: 12px;
  line-height: 15px;
  border-bottom-color: red;
} */

/* .popup__error-text {
  font-size: 12px;
  line-height: 15px;
  color: red;
  visibility: hidden;
} */

/* .popup__error-text_visible {
  visibility: visible;
} */

.popup__title {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  font-style: normal;
  color: #000000;
  margin-left: 36px;
  margin-right: 64px;
  margin-top: 34px;
  margin-bottom: 24.26px;
}

@media screen and (max-width: 650px) {
  .popup__title {
    margin-left: 22px;
  }
}

@media screen and (max-width: 500px) {
  .popup__title {
    margin-left: 22px;
  }
}

@media screen and (max-width: 320px) {
  .popup__title {
    width: 238px;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 46px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 25px;
  }
}

/* .popup__error {
  outline: 2px red solid;
} */

/* .popup__error-text {
  font-size: 12px;
  line-height: 15px;
  color: purple;
  /* visibility: hidden;
} */

.popup__error_visible {
  /* display: block; */
  white-space: normal;
  /* width: 300px; */
  /* overflow-wrap: normal; */
  /* word-wrap: break-word; */
  /* display: block; */
  /* width: fit-content; */
  /* outline: 2px red solid; */
  line-height: 15px;
  font-size: 14px;
  color: red;

  /* border-top: 3px red solid; */
  /* border-top-color: green; */
}
