.popup-form__style {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content:space-around; */
  align-items: left;
  /* height: 330px; */
  /* max-height: 330px; */
  /* min-height: 330px; */
  min-height: 25.78125vh;
  list-style: none;
  margin:0;
  margin-top: 34px;
  padding:0;
  /* margin-left: 36px;
  margin-top: 34px;
  margin-right: 36px;
  margin-bottom: 36.51px; */
  /* outline:5px dashed red; */
}

@media screen and (max-width:775px) {
  .popup-form__style{
    /* min-height: 282px; */
    min-height: 81.8646vw;
  }
}

@media screen and (max-width:320px) {
  .popup-form__style{
    /* min-height: 282px; */
    min-height: 89.535vw;
  }
}