.popup__aboutme {
  width: 100%;
  max-width: 358px;
  margin-top: 29.74px;
  margin-bottom: 0.08px;
  padding-bottom: 10px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}

@media screen and (max-width: 500px) {
  .popup__aboutme {
    max-width: 238px;
  }
}

@media screen and (max-width: 320px) {
  .popup__aboutme {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 9px;
  }
}