.header__line {
  border-top: 1px solid #545454;
  opacity: .7;
  width: 100%;
  /* max-width: 68.75vw; */
  max-width: 880px;
  margin-top: 41px;
}

/* @media screen and (max-width: 1120px) {
  .header__line {
    max-width: 51.8752vw;
  }
} */

@media screen and (max-width: 980px) {
  .header__line {
    /* max-width: 74.9664vw; */
    max-width: 581px;
  }
}

@media screen and (max-width: 320px) {
  .header__line {
    /* max-width: 74.9664vw; */
    max-width: 320px;
    margin-top: 32px;
    /* max-width: 581px; */
  }
}
