.header {
  /* max-width: 880px; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid #545454; */
  border-bottom: 1px solid yellow;
  opacity: .7;
  width: 100%;
  /* max-width: 68.75vw; */
  max-width: 880px;
  margin-top: 41px;
}

@media screen and (max-width:980px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width:320px) {
  .header {
    max-width: 320px;
    margin:0;
  }
}
