.header {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:980px) {
  .header {
    max-width: 581px;
    margin: 0 auto;
  }
}

@media screen and (max-width:320px) {
  .header {
    max-width: 320px;
    margin:0;
  }
}
