.popup__name {
  width: 100%;
  max-width: 358px;
  margin-top: 54px;
  padding-bottom: 10px;;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
}
  
@media screen and (max-width: 500px) {
    .popup__name {
      max-width: 238px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .popup__name {
      margin: 0;
      margin-bottom: 0;
      padding-bottom: 9px;
    }
  }