.card-grid__picture-zoom-text {
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #ffffff;
  position: absolute;
  top: 600px;
  right: 500px;
}
