.footer__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  font-style: normal;
  margin: 0;
  margin-left: 200px;
  padding-bottom: 24px;
  color: #545454;
}

@media screen and (max-width:775px) {
  .footer__text {
    margin-left: 130px;
  }
}

@media screen and (max-width:500px) {
  .footer__text {
    margin-left: 85px;
  }
}

@media screen and (max-width:320px) {
  .footer__text {
    margin-left: 55px;
  }
}