.intro__button-pencil {
  background-image: url("../../../images/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 6px;
  margin-left: 1px;
  margin-top: 42px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  grid-area: pen;
}

.intro__button-pencil:hover {
  opacity: 0.6;
  cursor: url("../../../images/pointer.svg") 15 5, auto;
}


@media screen and (max-width: 980px) {
  .intro__button-pencil {
      margin-left:1px;
      margin-top: 24px;
   }
  }

  @media screen and (max-width: 650px) {
    .intro__button-pencil {
      margin-left: 10px;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 320px) {
    .intro__button-pencil {
      margin-top: 30px;
      width: 18px;
      height: 18px;
      padding: 4.25px;
      margin-left: 10px;
     }
    }