.popup-form {
  position: relative;
  /* width: 430px; */
  width:100%;
  max-width:33.59375vw;
  /* min-height: 330px; */
  min-height: 25.78125vw;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(0,0,0,.15);
  list-style: none;
}

@media screen and (max-width: 1120px) {
  .popup-form {
    max-width: 38.39298vw;
    /* min-height: 330px; */
    min-height: 29.46438vw;
  }
}

@media screen and (max-width: 775px) {
  .popup-form {
    /* max-width: 430px; */
    max-width: 55.4829vw;
     min-height: 330px;
  }
}

@media screen and (max-width: 625px) {
  .popup-form {
    /* max-width: 430px; */
    max-width: 68.8vw;
    min-height: 356px;
  }
}

@media screen and (max-width: 500px) {
  .popup-form {
    /* max-width: 430px; */
    max-width: 86vw;
    /* min-height: 64.4vw; */
    min-height: 356px;
  }
}

@media screen and (max-width: 320px) {
  .popup-form {
    /* max-width:282px ; */
    max-width:89.535vw;
    margin-left: 19px;
    margin-right: 19px;
    /* min-height: 322px; */
    min-height: 102.235vw;
  }
}