.popup-form {
  position: relative;
  /* width: 430px; */
  width:100%;
  max-width:33.59375vw;
  /* height: 330px; */
  /* max-height: 330px; */
  min-height: 330px;
  /* max-height:25.78125vw; */
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  /* justify-content:space-evenly; */
  align-items:flex-start;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(0,0,0,.15);
  list-style: none;
}

@media screen and (max-width: 1120px) {
  .popup-form {
    max-width: 38.39298vw;
    height: 29.46438vw;
  }
}

@media screen and (max-width: 775px) {
  .popup-form {
    max-width: 55.4829vw;
    height: 42.5799vw;
  }
}

@media screen and (max-width: 320px) {
  .popup-form {
    /* width: 89.535vw; */
    /* max-width:282px ; */
    max-width:89.535vw
    /* min-width:89.535vw; */
    /* height: 102.235hw; */
    /* min-height:322px; */
  }
}