.popup__form_name {
    width: 100%;
    max-width: 358px;
  }
  
  @media screen and (max-width: 500px) {
    .popup__form_name {
      max-width: 238px;
      margin-left: 22px;
      margin-right: 22px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .popup__form_name {
       margin-bottom: 0;
    }
  }
  