.block {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-grid {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 980px) {
  .card-grid {
    max-width: 580px;
  }
}

@media screen and (max-width: 650px) {
  .card-grid {
    max-width: 282px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 320px) {
  .card-grid {
    max-width: 282px;
    margin-top: 36px;
  }
}

.card-grid__format {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 21px;
}

@media screen and (max-width: 980px) {
  .card-grid__format {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .card-grid__format {
    grid-template-columns: 1fr;
    max-width: 282px;
    margin-left: auto;
    margin-right: auto;
  }
}
.card-grid__garbage {
  position: absolute;
  margin: 0;
  margin-left: 245px;
  margin-top: 25px;
  width: 15.44px;
  height: 13.51px;
  background-image: url("../images/garbage.png");
  background-color: rgb(0, 0, 0, 0);
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.card-grid__garbage:hover {
  opacity: 0.6;
  cursor: url("../images/pointer.svg") 10 0, auto;
}

.card-grid__icon {
  width: 21px;
  height: 19px;
  margin-right: 15px;
  background-color: #ffffff;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../images/heart.svg");
}

.card-grid__icon:hover {
  opacity: 0.5;
  cursor: url("../images/pointer.svg") 10 0, auto;
}

.card-grid__icon_active {
  background-image: url("../images/Union.svg");
}

.card-grid__info {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-grid__picture {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-grid__picture:hover {
  opacity: 0.5;
  cursor: url("../images/pointer.svg") 10 0, auto;
}

.card-grid__style {
  list-style: none;
  width: 282px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 650px) {
  .card-grid__style {
    margin-left: auto;
    margin-right: auto;
  }
}

.card-grid__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  font-style: normal;
  text-align: left;
  color: #000000;
  margin-left: 21px;
  margin-top: 25px;
  margin-bottom: 31px;
  width: 246px;
}

.content {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 980px) {
  .content {
    max-width: 781px;
  }
}

@media screen and (max-width: 320px) {
  .content {
    max-width: 320px;
  }
}

.footer {
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin: 68px auto 0;
}

@media screen and (max-width: 980px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    width: 100%;
    max-width: 282px;
    margin: 50px 19px 0;
  }
}

.footer__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  font-style: normal;
  margin: 0;
  padding-bottom: 60px;
  color: #545454;
}

@media screen and (max-width: 320px) {
  .footer__text {
    margin-left: 0;
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 16.94px;
  }
}

.header {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 41px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
}

@media screen and (max-width: 1120px) {
  .header {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 980px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    margin: 0;
    padding: 0;
  }
}

.header__logo {
  width: 100%;
  max-width: 173px;
  margin-top: 45px;
}

@media screen and (max-width: 1120px) {
  .header__logo {
    max-width: 17.8572vw;
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 772px) {
  .header__logo {
    max-width: 25.806vw;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 39.375vw;
    margin-left: 27px;
    margin-bottom: 32px;
    margin-top: 28px;
  }
}

.image-popup {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  width: 600px;
  height: 600px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  z-index: 10;
}

@media screen and (max-width: 750px) {
  .image-popup {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 650px) {
  .image-popup {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .image-popup {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .image-popup {
    width: 200px;
    height: 200px;
  }
}

.image-popup__picture-text {
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  color: #ffffff;
  position: absolute;
  top: 600px;
  right: 510px;
  margin: 0;
  padding-top: 10px;
}

.image-popup__picture-zoom {
  width: 600px;
  height: 600px;
}

@media screen and (max-width: 750px) {
  .image-popup__picture-zoom {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 650px) {
  .image-popup__picture-zoom {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 500px) {
  .image-popup__picture-zoom {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .image-popup__picture-zoom {
    width: 200px;
    height: 200px;
  }
}

.intro {
  max-width: 880px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 17px;
  margin: 36px auto 0;
  grid-template-areas: "pic descript pen plus";
}

@media screen and (max-width: 980px) {
  .intro {
    max-width: 581px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "pic ."
      "descript pen"
      "plus plus";
  }
}

@media screen and (max-width: 650px) {
  .intro {
    margin: 38.25px auto;
    max-width: 282px;
    column-gap: 0px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin: 38.25px auto;
    max-width: 282px;
    column-gap: 0px;
  }
}

.intro__button-pencil {
  background-image: url("../images/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  padding: 6px;
  margin-left: 1px;
  margin-top: 42px;
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  grid-area: pen;
}

.intro__button-pencil:hover {
  opacity: 0.6;
  cursor: url("../images/pointer.svg") 15 5, auto;
}

@media screen and (max-width: 980px) {
  .intro__button-pencil {
    margin-left: 1px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 650px) {
  .intro__button-pencil {
    margin-left: 10px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .intro__button-pencil {
    margin-top: 30px;
    width: 18px;
    height: 18px;
    padding: 4.25px;
    margin-left: 10px;
  }
}

.intro__button-plus {
  background-image: url("../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  padding: 14px 64px 14px 64px;
  margin-left: 50px;
  margin-right: 0;
  margin-top: 38px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  grid-area: plus;
}

.intro__button-plus:hover {
  opacity: 0.6;
  cursor: url("../images/pointer.svg") 15 0, auto;
}

@media screen and (max-width: 980px) {
  .intro__button-plus {
    font-size: 22px;
    line-height: 26.63px;
    padding: 14px 133px 17px 133px;
    margin-left: 154px;
    margin-top: 0;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 650px) {
  .intro__button-plus {
    margin-left: 5px;
  }
}

@media screen and (max-width: 320px) {
  .intro__button-plus {
    width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    padding: 17px 133px 17px 133px;
    margin: 0;
    margin-top: 0;
  }
}

.intro__description {
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  grid-area: descript;
}

.intro__image {
  border-radius: 50%;
  width: 127.5px;
  margin-right: 20.625px;
  grid-area: pic;
}

@media screen and (max-width: 980px) {
  .intro__image {
    margin-left: 225px;
    margin-top: 38.25px;
  }
}

@media screen and (max-width: 650px) {
  .intro__image {
    margin-left: 75px;
  }
}

@media screen and (max-width: 320px) {
  .intro__image {
    margin-left: 77.5px;
    margin-top: 0;
  }
}

.intro__name {
  font-size: 42px;
  line-height: 48px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  width: 373px;
  width: min-content;
  white-space: nowrap;
  text-align: left;
  margin-top: 25.75px;
  margin-bottom: 7px;
  margin-left: 3.75px;
  /* margin-right: 0px; */
  grid-area: name;
  max-width: 373px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .intro__name {
    line-height: 36px;
    margin-left: 110px;
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 650px) {
  .intro__name {
    margin-left: 30px;
    font-size: 22px;
    max-width: 200px;
  }
}

@media screen and (max-width: 320px) {
  .intro__name {
    padding: 0;
    margin-left: 15vw;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 27px;
    max-width: 200px;
  }
}

.intro__occupation {
  font-size: 18px;
  font-style: normal;
  line-height: 21.78px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  text-align: left;
  margin-top: 0px;
  margin-left: 3.75px;
  margin-bottom: 71px;
  grid-area: occup;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 980px) {
  .intro__occupation {
    font-size: 14px;
    line-height: 16.94px;
    max-width: 200px;
    margin-left: 190px;
    margin-bottom: 36px;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .intro__occupation {
    margin-left: 40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .intro__occupation {
    font-size: 14px;
    line-height: 16.94px;
    margin-left: 40px;
    margin-bottom: 36px;
  }
}

.page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: content-box;
  background-color: #000000;
}

@media screen and (max-width: 980px) {
  .page {
    max-width: 781px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}

.popup {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

@media screen and (max-width: 320px) {
  .popup {
    max-width: 320px;
    padding: 0;
  }
}

.popup_visible {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.popup__container {
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  width: 100%;
  max-width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgb(0, 0, 0, 0.15);
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .popup__container {
    max-width: 282px;
  }
}

@media screen and (max-width: 500px) {
  .popup__container {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    height: 322px;
    padding: 0;
    margin-left: 19px;
    margin-right: 19px;
  }
}

.popup__container-button {
  outline: none;
  border: none;
  background-color: #000000;
  min-height: 50.15px;
  width: 100%;
  max-width: 358px;
  border-radius: 2px;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 36.51px;
  padding: 0;
}

.popup__container-button-disabled {
  background-color: #a8a8a8;
}

.popup__container-button:hover {
  opacity: 0.8;
  cursor: url("../images/pointer.svg") 10 0, auto;
}

@media screen and (max-width: 500px) {
  .popup__container-button {
    max-width: 238px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container-button {
    min-height: 46px;
    font-size: 14px;
    line-height: 16.948px;
    margin-top: 46px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
  }
}

.popup__container-button-close {
  position: absolute;
  top: -40px;
  right: -40px;
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
}

.popup__container-button-close:hover {
  opacity: 0.6;
  cursor: url("../images/pointer.svg") 10 0, auto;
}

@media screen and (max-width: 650px) {
  .popup__container-button-close {
    width: 35px;
    height: 35px;
  }
}

.popup__form {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  width: 358px;
  margin-left: 36px;
  margin-right: 36px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .popup__form {
    width: 238px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 22px;
    margin-right: 22px;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .popup__form {
    width: 238px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 22px;
    margin-right: 22px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .popup__form {
    width: 238px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: 22px;
    margin-right: 22px;
    padding: 0;
  }
}

.popup__container-input {
  width: 350px;
  max-width: 358px;
  margin-top: 29.74px;
  padding-bottom: 10px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000000;
  min-height: 15px;
}

.popup__container-input:hover {
  border: 2px solid rgb(156, 156, 250);
}

@media screen and (max-width: 500px) {
  .popup__container-input {
    max-width: 238px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container-input {
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    padding-bottom: 9px;
  }
}

.popup__container-input-type-error {
  min-height: 10px;
  color: #ff0000;
  margin-top: 15px;
}

.popup__container-input-type-error:hover {
  border: 1px solid #ff0000;
  border-bottom-color: #ff0000;
  min-height: 10px;
}

.popup__container-input-type-name {
  font-size: 12px;
  line-height: 15px;
  border-bottom-color: #808080;
  width: 350px;
}

.popup__container-input-type-description {
  font-size: 12px;
  line-height: 15px;
  border-bottom-color: #808080;
  width: 350px;
}

.popup__container-title {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 900;
  font-style: normal;
  color: #000000;
  margin-left: 36px;
  margin-right: 64px;
  margin-top: 34px;
  margin-bottom: 24.26px;
}

@media screen and (max-width: 650px) {
  .popup__container-title {
    margin-left: 22px;
  }
}

@media screen and (max-width: 500px) {
  .popup__container-title {
    margin-left: 22px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container-title {
    width: 238px;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 46px;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 25px;
  }
}

.popup__container-error-visible {
  white-space: normal;
  line-height: 15px;
  font-size: 14px;
  color: #ff0000;
}
