.intro {
  max-width: 880px;
  width: 100%;
  font-family: 'Inter' Arial sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 36.25px;
  margin: 2.8320vw 15.625vw 0 13.8672vw;
}

@media screen and (max-width: 1120px){
  .intro{
    max-width: 600px;
    margin-right: 0;
    margin: 3.2366vw 17.8572vw 0 15.8483vw;
    min-width: 300px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 775px){
  .intro{
    max-width: 400px;
    margin: 4.6773vw 25.806vw 0 9.9998vw;
    min-width: 300px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px){
  .intro{
    margin: 42px 19px 0 19px;
  }
}
