.popup-form__aboutme {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  font-style: normal;
  color:#000000;
  width: 100%;
  max-width: 358px;
  margin-top: 29.74px;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 13.34px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  outline: none;
}

@media screen and (max-width: 1120px) {
  .popup-form__aboutme {
    max-width: 26.7858vw;
  }
}

@media screen and (max-width: 775px) {
  .popup-form__aboutme {
    max-width: 25.806vw;
  }
}

@media screen and (max-width: 320px) {
  .popup-form__aboutme {
    max-width: 75.565vw;
    margin-top: 30px;
    margin-bottom: 9px;
  }
}

