.card-grid__garbage {
    position: absolute;
    margin:0;
    margin-left: 245px;
    margin-top: 25px;
    width: 15.44px;
    height: 13.51px;
    background-color: rgb(0,0,0,0);
    border:none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    z-index: 0;
  } 
  
  .card-grid__garbage:hover {
    opacity: 0.6;
    cursor: url("../../../images/pointer.svg") 10 0, auto;
  }

  