.card-grid__format {
  margin: 0;
  margin-top: 46.25px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 21px;
}

@media screen and (max-width: 980px) {
  .card-grid__format {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 320px) {
  .card-grid__format {
    grid-template-columns: 1fr;
  }
}
