.card-grid__format {
  margin: 0;
  margin-top: 46.25px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 21px;
}

@media screen and (max-width: 1120px) {
  .card-grid__format {
    /* max-width: 600px; */
    max-width: 53.5716vw;
    grid-template-columns: 1fr 1fr;
    margin-right: 0;
  }
}

@media screen and (max-width: 775px) {
  .card-grid__format {
    /* max-width: 300px; */
    max-width: 38.709vw;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .card-grid__format {
  margin-top: 0;
  }
}
