.card-grid__format {
  /* outline: 5px solid blue; */
  margin: 0;
  margin-top: 46.25px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 17px;
  row-gap: 21px;
     /* margin: 118px 48px 12px 48px; */
  /* padding-left: 0px; */
}
