.popup-form__button {
  outline: none;
  border: none;
  background-color: #000000;
  min-height:50.15px;
  width: 358px;
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top:25px;
  margin-left:36px;
  margin-right: 36px;
  margin-bottom: 36.51px;
  padding:0;
}

.popup-form__button:hover {
  opacity: 0.8;
  cursor: url("../../../images/pointer.svg") 10 0, auto;
}

@media screen and (max-width: 1120px) {
  .popup-form__button {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .popup-form__button{
  width: 238px;
  font-size: 14px;
  line-height: 16.948px;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 0px;
  padding-bottom: 14px;
  padding-top: 14px;
  }
}