.popup-form__button {
  outline: none;
  border: none;
  background-color: #000000;
  min-height:50.15px;
  /* height: 3.9179vw; */
  width: 358px;
  /* width: 27.9688vw; */
  border-radius: 2px;
  color: #ffffff;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top:48px;
  /* margin-top:50px; */
  /* margin-top: 3.90625vw; */
  margin-left:36px;
  margin-right: 36px;
  margin-bottom: 36.51px;
}

.popup-form__button:hover {
  opacity: 0.8;
  cursor: url("../../../images/Layer14.png") 10 0, auto;
}

@media screen and (max-width: 1120px) {
  .popup-form__button {
    /* width: 300px; */
    width: 26.7858vw;

  }
}

@media screen and (max-width: 775px) {
  .popup-form__button{
  /* width: 300px; */
  width: 38.709vw;
  }
}

@media screen and (max-width: 625px) {
  .popup-form__button{
    /* width: 300px; */
    width: 48vw;
  }
}

@media screen and (max-width: 500px) {
  .popup-form__button{
    /* width: 300px; */
    min-width: 60vw;
   min-height: 46px;
    /* margin-top: 50px; */
    margin-top: 9.6vw;
    margin-bottom: 36.51px;
    padding:0;
  }
}

@media screen and (max-width: 320px) {
  .popup-form__button{
    /* width: 238px; */
    width: 75.565vw;
  /* height: 46px; */
  height: 14.605vw;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 46px;
  }
}