.image-popup__button-closezoom {
  position: absolute;
  margin: 0;
  top: -40px;
  right: -40.5px;
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-popup__button-closezoom:hover {
  opacity: 0.6;
  cursor: url("../../../images/pointer.svg") 10 0, auto;
}

@media screen and (max-width: 700px) {
  .image-popup__button-closezoom {
    margin-left: 500px;
  }
}

@media screen and (max-width: 600px) {
  .image-popup__button-closezoom {
    margin-left: 400px;
  }
}

@media screen and (max-width: 500px) {
  .image-popup__button-closezoom {
    margin-left: 300px;
  }
}

@media screen and (max-width: 400px) {
  .image-popup__button-closezoom {
    margin-left: 200px;
  }
}
