.popup-form__button-close {
  /* margin-top: -2vw; */
  margin-top: 25.6px;
  /* margin-right: -35vw; */
  margin-right: -448px;
  /* width: 3.125vw; */
  width: 40px;
  /* height: 3.125vw; */
  height: 40px;
  background-color: black;
  border:none;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
} 

.popup-form__button-close:hover {
  opacity: 0.6;
  cursor: url("../../../images/Layer14.png") 10 0, auto;
}

@media screen and (max-width: 1120px) {
  .popup-form__button-close {
    /* margin-top: -2vw; */
    margin-right: -40vw;
  }
}

@media screen and (max-width: 775px) {
  .popup-form__button-close {
    /* width: 26px; */
    width:3.35478vw;
    height: 26px;
    /* margin-top: -2vw; */
    margin-right: -58vw;
  }
}

@media screen and (max-width: 625px) {
  .popup-form__button-close {
    /* width: 26px; */
    width: 4.16vw;
    /* height: 26px;  */
    /* margin-top: -2vw; */
    margin-right: -70vw;
  }
}

@media screen and (max-width: 500px) {
  .popup-form__button-close {
    /* width: 26px; */
    width: 5.2vw;
    /* margin-top: -2vw; */
    margin-right: -87vw;
  }
}

@media screen and (max-width: 320px) {
  .popup-form__button-close {
    /* width: 26px; */
    width: 8.255vw;
    margin-right: -75vw;
  }
}
