.popup-form__button-close {
  align-self: flex-end;
  margin-top: -5.5vw;
  margin-right: -2vw;
  width: 3.125vw;
  height: 3.125vw;
}
.popup-form__button-close:hover {
  opacity: 0.6;
  cursor:grab;
}

@media screen and (max-width: 320px) {
  .popup-form__button-close {
    width: 7.5vw;
    height: 7.5vw;
  }
}
