.popup-form__button-close {
  /* position: absolute; */
  /* position: relative; */
  align-self: flex-end;
  margin-top: -5.5vw;
  margin-right: -2vw;
  width: 3.125vw;
  height: 3.125vw;

  /* previous code */
  /* position: fixed; */
  /* top: 140px; */
  /* right: 420px; */
  /* width: 40px; */
  /* height: 40px; */
  /* background-color: blue; */
}
.popup-form__button-close:hover {
  opacity: 0.6;
  cursor:grab;
}


@media screen and (max-width: 320px) {
  .popup-form__button-close {
    width: 7.5vw;
    height: 7.5vw;
  }
}
