.card-grid {
  width: 100%;
  max-width: 880px;
  margin-left: 15.625vw;
  margin-right: 15.625vw;
  margin-top: 50px;
  /* margin-right: 0; */
  /* margin-right: auto; */
  /* background-color: blue; */
  /* outline: 1px dotted yellow; */
font-family: "Inter", Arial, sans-serif;
/* display: grid;
grid-template-areas:
  "one two three"
  "four five six";
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 361px);
column-gap: 17px; */
  /* "card card card"; */
  /* "card card card"; */
}

@media screen and (max-width: 1120px) {
  .card-grid {
    /* max-width: 581px; */
    max-width: 51.8752vw;
    margin-left: 17.857vw;

  }
}

@media screen and (max-width: 775px) {
  .card-grid {
    /* max-width: 300px; */
    max-width: 38.709vw;
    margin-left: 17.857vw;

  }
}

@media screen and (max-width: 320px) {
  .card-grid {
    /* max-width: 300px; */
    max-width: 38.709vw;
    /* margin-left: 17.857vw; */

  }
}