.popup__button-close-zoom {
  position: absolute;
  margin:0;
  margin-left: 600px;
  margin-top: -10px;
  width: 40px;
  height: 40px;
  background-color: rgb(0,0,0,0);
  border:none;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
} 

.popup__button-close-zoom:hover {
  opacity: 0.6;
  cursor: url("../../../images/pointer.svg") 10 0, auto;
}

@media screen and (max-width: 700px) {
  .popup__button-close-zoom {
    margin-left: 500px;
  }
}

@media screen and (max-width: 600px) {
  .popup__button-close-zoom {
    margin-left: 400px;
  }
}

@media screen and (max-width: 500px) {
  .popup__button-close-zoom {
    margin-left: 300px;
  }
}

@media screen and (max-width: 400px) {
  .popup__button-close-zoom {
    margin-left: 200px;
  }
}

