.popup-container_visible {
  visibility: visible;
  animation: opennicely 2s;
}

@keyframes opennicely {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}
