.footer {
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  text-align: left;
  margin:0;
  margin-top: 68px;
}

@media screen and (max-width: 1120px) {
  .footer {
    max-width: 500px;
  }
}

