.intro__name {
  font-size: 42px;
  line-height: 48px;
  font-style: normal;
  font-weight: 500;
  color: #FFFFFF;
  width: 373px; 
  width: min-content;
  white-space: nowrap;
  text-align: left;
  /* margin-top: 62px; */
  margin-top: 25.75px;
  /*need to add distance to top
  because of q hanging down */
  margin-bottom: 7px;
  margin-left: 3.75px;
  grid-area: name;
}

@media screen and (max-width:980px) {
  .intro__name {
    font-size: 22px;
    line-height: 26.63px;
    margin-left: 190px;
    /* margin-left: 120px; */
    /* margin-left: 15.4836vw; */
    
  }
}
@media screen and (max-width:320px) {
  .intro__name {
    /* margin-left: 48px; */
    margin-left: 15vw;
    margin-bottom: 14px;

  }
}