.intro__image {
  border-radius: 50%;
  width:127.5px;
  margin-right: 20.625px;
  grid-area: pic;
}

@media screen and (max-width: 980px) {
.intro__image {
margin-left: 225px;
margin-top: 38.25px;
 }
}

@media screen and (max-width: 650px) {
  .intro__image{
  margin-left: 75px;
  }
}

@media screen and (max-width: 320px) {
  .intro__image {
    margin-left: 77.5px;;
  /* margin-left: 24.2188vw; */
  margin-top: 0;
   }
  }