.intro__button-plus {
  background-image: url("../../../images/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  padding: 14px 64px 14px 64px;
  margin-left: 50px;
  margin-right: 0;
  margin-top: 38px;
  border: 2px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  grid-area: plus;
} 

.intro__button-plus:hover {
  opacity: 0.6;
  cursor: url("../../../images/pointer.svg") 15 0, auto;
}

@media screen and (max-width:980px) {
  .intro__button-plus {
    font-size: 22px;
    line-height: 26.63px;
    padding: 14px 133px 17px 133px;
    margin-left: 154px;
    margin-top: 0;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 650px) {
  .intro__button-plus {
    margin-left: 5px;
  }
}

@media screen and (max-width:320px) {
  .intro__button-plus {
    width: 282px;
    font-size: 14px;
    line-height: 16.94px;
    padding: 17px 133px 17px 133px;
    margin:0;
    margin-top: 0;
  }
}