.intro__button-plus {
  max-width: 22px;
  width: 100%;
  width: 22px;
  min-height: 22px;
  padding: 14px 64px 14px 64px;
  margin-left: 161px;
  /* 165-4 = 161 (account 4px for border)*/
  margin-right: 0;
  margin-top: 38px;
  border: 2px solid #FFFFFF;
} 

.intro__button-plus:hover {
  opacity: 0.6;
  cursor: url("../../../images/Layer14.png") 15 0, auto;
}

@media screen and (max-width: 1120) {
  .intro__button-plus {
    margin-left: 0px;
  }
}

@media screen and (max-width:775px) {
  .intro__button-plus {
    font-size: 22px;
    line-height: 26.63px;
    padding: 14px 133px 17px 133px;
    /* margin-left: 65px; */
    margin-left: 8.3870vw;
    
  }
}
@media screen and (max-width:320px) {
  .intro__button-plus {
    font-size: 14px;
    line-height: 16.94px;
    padding: 17px 133px 17px 133px;
    margin-left: 0;
    margin-top: 22px;
    /* margin-bottom: 36px; */

  }
}