.popup-form__format {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
  font-style: normal;
  color:#000000;
  width: 100%;
  max-width: 358px;
  min-height: 14px;
  margin-top: 54px;
  margin-left: 36px;
  margin-right: 36px;
  /* margin-bottom: 13.26px; */
  margin-bottom: 0;
  padding-bottom: 13.26px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-bottom: 1px solid rgb(0,0,0,.2);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width: 358px;
}

@media screen and (max-width: 1120px) {
  .popup-form__name {
    /* max-width: 300px; */
    max-width: 26.7858vw;
  }
}

@media screen and (max-width: 775px) {
  .popup-form__name {
    /* max-width: 200px; */
    max-width: 25.806vw;
  }
}

@media screen and (max-width: 500px) {
  .popup-form__name {
    /* max-width: 200px; */
    max-width: 50vw;
  }
}

@media screen and (max-width: 320px) {
  .popup-form__name {
    /* max-width: 238px; */
    max-width: 75.565vw;
    margin-top: 76px;
    margin-bottom: 9px;
  }
}
